/* WHOLE NAV */
nav {
    background-color: #333;
    padding: 1rem;
    text-align: center;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO */
.header .logo {
    width: 13rem;
}

/* LINK  */
.header .link-container {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
}

.header a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.header .cart {
    width: 1.5rem;
}





