.item-container {
    padding: 1rem 3rem;
    display: grid;
    grid-template-columns: repeat(3, 320px);
    gap: 20px;
    justify-content: center;
    align-items: c;
  }
  
  .item-link {
    padding: 1.2rem;
    text-decoration: none;
    color: inherit;
    border: 1px solid white;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: border-color .3s ease-in-out;
  }

  .item-link:hover {
    border-color: lightgrey;
  }
  
  .item-link:hover img{
    transform: scale(1.1);
  }
  
  .image-container {
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container img {
    height: 12rem;
    width: 100%;
    object-fit: contain;
    transition: transform .3s ease-in-out;
  }
  
  .item-name {
    font-size: .9em;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 5px;
    word-wrap: normal;
  }
  
  .price {
    margin-top: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  .sale {
    background-color: #b22222;
    color: #fff;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 4px;
  }

  
  