.shop-background {
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.shop-background h1{
    color: white;
    font-size: 4em;
    font-weight: 900;
    text-align: right;
    padding-right: 5rem;
}

.shop-background img {
    width: 100%;
    top: 0;
    position: absolute;
    z-index: -100;
    filter: brightness(0.7);
}