/* LOADER */
.loader-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    margin: auto;
    border: 4px solid #cbd5e0; /* border-slate-200 */
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border-bottom-color: black; /* border-b-red-600 */
    animation: spin 1s linear infinite; /* animate-spin duration-100 */
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* ERROR */
.error {
    flex: 1;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* SHOP BACKGROUND */

.shop-background {
    background-image: url(../assets/mw2-hd.jpg);
    height: 20rem;
    margin-top: -6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.shop-background h1{
    color: white;
    font-size: 4em;
    font-weight: 900;
    text-align: right;
    padding-right: 20rem;
}

/* Middle : top */
.top-result {
    padding-left: 3rem;
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 500;
}

/* SHOP MAIN */
.shop-main {
    display: flex;
    justify-content: center;
}
